[submodule "ens-contracts"]
	path = ens-contracts
	url = https://github.com/simplex-network/ens-contracts.git
	branch = simplex
[submodule "ens-app-v3"]
	path = ens-app-v3
	url = https://github.com/simplex-network/ens-app-v3.git
	branch = simplex
